.page__group-title {
  font-weight: 500;
  font-size: 30px;
  margin: 25px 0 5px;
  padding-left: 5px;
  color: #0077ff;
}

@media screen and (max-width: 425px) {
  .page__group-title {
    font-size: 22px;
  }
}