.book__info {
  margin: 8px 0;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  .book__info {
    font-size: 16px;
  }

  .book__info:last-of-type {
    margin-bottom: 15px;
  }
}
